<!DOCTYPE html>
{% extends "ToDoApp/base.html" %}
{% block body_block %}
<h4>To-Do List:</h4>
<ul>
  {% for content in contents %}
  <li>
    <form style="display:inline;" action="/ToDoApp/DeleteATask/" method="POST">
      {{content}}
      {%csrf_token%}
    <input type="hidden" name="num" value="{{content.id}}">
    <input type="submit" class="btn btn-danger" value="-">
    </form>
  </li>
  {% endfor %}
</ul>
<div class="container">
    <form action="/ToDoApp/toDoList/" method="POST">
      {%csrf_token%}
      <input type="text" name="content" placeholder="Do a task">
    <input type="submit" class="btn btn-success" value="Submit">
    </form>
</div>
{% endblock %}
